In [1]:
import pandas as pd
import numpy as np
import polars as pl

In [2]:
movies = pd.read_csv('Data/movie.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [4]:
movies.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [5]:
movies.isna()

       movieId  title  genres
0        False  False   False
1        False  False   False
2        False  False   False
3        False  False   False
4        False  False   False
...        ...    ...     ...
27273    False  False   False
27274    False  False   False
27275    False  False   False
27276    False  False   False
27277    False  False   False

[27278 rows x 3 columns]

In [6]:
movies['genres'] = movies['genres'].apply(lambda x: x.split('|'))

In [7]:
movies['genres'].value_counts()

genres
[Drama]                                                        4520
[Comedy]                                                       2294
[Documentary]                                                  1942
[Comedy, Drama]                                                1264
[Drama, Romance]                                               1075
                                                               ...
[Action, Comedy, Crime, Western]                                  1
[Action, Fantasy, Sci-Fi, Thriller]                               1
[Action, Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller]       1
[Action, Drama, Fantasy, Romance]                                 1
[Animation, Children, Comedy, Western]                            1
Name: count, Length: 1342, dtype: int64

In [8]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

In [9]:
genres_df = mlb.fit_transform(movies['genres'])

In [10]:
print(mlb.classes_)

['(no genres listed)' 'Action' 'Adventure' 'Animation' 'Children' 'Comedy'
 'Crime' 'Documentary' 'Drama' 'Fantasy' 'Film-Noir' 'Horror' 'IMAX'
 'Musical' 'Mystery' 'Romance' 'Sci-Fi' 'Thriller' 'War' 'Western']

In [11]:
genres_df = pd.DataFrame(genres_df, columns=mlb.classes_)
genres_df.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
genres_df.describe()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000
mean,0.009018,0.129042,0.085380,0.037649,0.041755,0.306987,0.107743,0.090586,0.489185,0.051763,0.012098,0.095718,0.007185,0.037979,0.055503,0.151294,0.063898,0.153164,0.043772,0.024782
std,0.094537,0.335252,0.279452,0.190350,0.200033,0.461253,0.310061,0.287024,0.499892,0.221553,0.109324,0.294210,0.084462,0.191150,0.228963,0.358342,0.244575,0.360152,0.204590,0.155463
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
genres_df[genres_df['(no genres listed)'] == 1].count()

(no genres listed)    246
Action                246
Adventure             246
Animation             246
Children              246
Comedy                246
Crime                 246
Documentary           246
Drama                 246
Fantasy               246
Film-Noir             246
Horror                246
IMAX                  246
Musical               246
Mystery               246
Romance               246
Sci-Fi                246
Thriller              246
War                   246
Western               246
dtype: int64

In [14]:
movies = pd.concat([movies, genres_df], axis=1)

In [15]:
movies.head()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
movies[movies['Action'] == 1]

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5,6,Heat (1995),"[Action, Crime, Thriller]",0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,9,Sudden Death (1995),[Action],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,GoldenEye (1995),"[Action, Adventure, Thriller]",0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,15,Cutthroat Island (1995),"[Action, Adventure, Romance]",0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,20,Money Train (1995),"[Action, Comedy, Crime, Drama, Thriller]",0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27168,130842,Power/Rangers (2015),"[Action, Adventure, Sci-Fi]",0,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27187,130984,Santo vs. las lobas (1976),"[Action, Fantasy, Horror]",0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
27198,131025,The Brass Legend (1956),[Action],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27236,131122,Love Exposure (2007),"[Action, Comedy, Drama, Romance]",0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
27264,131180,Dead Rising: Watchtower (2015),"[Action, Horror, Thriller]",0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [17]:
ratings = pl.read_csv('Data/rating.csv')
ratings.head()

shape: (5, 4)
┌────────┬─────────┬────────┬─────────────────────┐
│ userId ┆ movieId ┆ rating ┆ timestamp           │
│ ---    ┆ ---     ┆ ---    ┆ ---                 │
│ i64    ┆ i64     ┆ f64    ┆ str                 │
╞════════╪═════════╪════════╪═════════════════════╡
│ 1      ┆ 2       ┆ 3.5    ┆ 2005-04-02 23:53:47 │
│ 1      ┆ 29      ┆ 3.5    ┆ 2005-04-02 23:31:16 │
│ 1      ┆ 32      ┆ 3.5    ┆ 2005-04-02 23:33:39 │
│ 1      ┆ 47      ┆ 3.5    ┆ 2005-04-02 23:32:07 │
│ 1      ┆ 50      ┆ 3.5    ┆ 2005-04-02 23:29:40 │
└────────┴─────────┴────────┴─────────────────────┘

In [18]:
ratings.describe()

shape: (9, 5)
┌────────────┬──────────────┬──────────────┬─────────────┬─────────────────────┐
│ statistic  ┆ userId       ┆ movieId      ┆ rating      ┆ timestamp           │
│ ---        ┆ ---          ┆ ---          ┆ ---         ┆ ---                 │
│ str        ┆ f64          ┆ f64          ┆ f64         ┆ str                 │
╞════════════╪══════════════╪══════════════╪═════════════╪═════════════════════╡
│ count      ┆ 2.0000263e7  ┆ 2.0000263e7  ┆ 2.0000263e7 ┆ 20000263            │
│ null_count ┆ 0.0          ┆ 0.0          ┆ 0.0         ┆ 0                   │
│ mean       ┆ 69045.872583 ┆ 9041.56733   ┆ 3.525529    ┆ null                │
│ std        ┆ 40038.626653 ┆ 19789.477445 ┆ 1.051989    ┆ null                │
│ min        ┆ 1.0          ┆ 1.0          ┆ 0.5         ┆ 1995-01-09 11:46:44 │
│ 25%        ┆ 34395.0      ┆ 902.0        ┆ 3.0         ┆ null                │
│ 50%        ┆ 69141.0      ┆ 2167.0       ┆ 3.5         ┆ null                │
│ 75%        ┆ 103637.0     ┆ 4770.0       ┆ 4.0         ┆ null                │
│ max        ┆ 138493.0     ┆ 131262.0     ┆ 5.0         ┆ 2015-03-31 06:40:02 │
└────────────┴──────────────┴──────────────┴─────────────┴─────────────────────┘

In [19]:
movies.describe()

,movieId,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,...,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000,27278.000000
mean,59855.480570,0.009018,0.129042,0.085380,0.037649,0.041755,0.306987,0.107743,0.090586,0.489185,...,0.012098,0.095718,0.007185,0.037979,0.055503,0.151294,0.063898,0.153164,0.043772,0.024782
std,44429.314697,0.094537,0.335252,0.279452,0.190350,0.200033,0.461253,0.310061,0.287024,0.499892,...,0.109324,0.294210,0.084462,0.191150,0.228963,0.358342,0.244575,0.360152,0.204590,0.155463
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6931.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,68068.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,100293.250000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,131262.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
movies_new = pl.from_pandas(movies)
print(movies_new)

shape: (27_278, 23)
┌─────────┬─────────────────┬─────────────────┬────────────┬───┬────────┬──────────┬─────┬─────────┐
│ movieId ┆ title           ┆ genres          ┆ (no genres ┆ … ┆ Sci-Fi ┆ Thriller ┆ War ┆ Western │
│ ---     ┆ ---             ┆ ---             ┆ listed)    ┆   ┆ ---    ┆ ---      ┆ --- ┆ ---     │
│ i64     ┆ str             ┆ list[str]       ┆ ---        ┆   ┆ i64    ┆ i64      ┆ i64 ┆ i64     │
│         ┆                 ┆                 ┆ i64        ┆   ┆        ┆          ┆     ┆         │
╞═════════╪═════════════════╪═════════════════╪════════════╪═══╪════════╪══════════╪═════╪═════════╡
│ 1       ┆ Toy Story       ┆ ["Adventure",   ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ (1995)          ┆ "Animation", …  ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆                 ┆ "…              ┆            ┆   ┆        ┆          ┆     ┆         │
│ 2       ┆ Jumanji (1995)  ┆ ["Adventure",   ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆                 ┆ "Children",     ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆                 ┆ "Fan…           ┆            ┆   ┆        ┆          ┆     ┆         │
│ 3       ┆ Grumpier Old    ┆ ["Comedy",      ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ Men (1995)      ┆ "Romance"]      ┆            ┆   ┆        ┆          ┆     ┆         │
│ 4       ┆ Waiting to      ┆ ["Comedy",      ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ Exhale (1995)   ┆ "Drama",        ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆                 ┆ "Romance"]      ┆            ┆   ┆        ┆          ┆     ┆         │
│ 5       ┆ Father of the   ┆ ["Comedy"]      ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ Bride Part II   ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆ (1…             ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│ …       ┆ …               ┆ …               ┆ …          ┆ … ┆ …      ┆ …        ┆ …   ┆ …       │
│ 131254  ┆ Kein Bund für's ┆ ["Comedy"]      ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ Leben (2007)    ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│ 131256  ┆ Feuer, Eis &    ┆ ["Comedy"]      ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ Dosenbier       ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆ (2002)          ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│ 131258  ┆ The Pirates     ┆ ["Adventure"]   ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ (2014)          ┆                 ┆            ┆   ┆        ┆          ┆     ┆         │
│ 131260  ┆ Rentun Ruusu    ┆ ["(no genres    ┆ 1          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ (2001)          ┆ listed)"]       ┆            ┆   ┆        ┆          ┆     ┆         │
│ 131262  ┆ Innocence       ┆ ["Adventure",   ┆ 0          ┆ … ┆ 0      ┆ 0        ┆ 0   ┆ 0       │
│         ┆ (2014)          ┆ "Fantasy",      ┆            ┆   ┆        ┆          ┆     ┆         │
│         ┆                 ┆ "Horr…          ┆            ┆   ┆        ┆          ┆     ┆         │
└─────────┴─────────────────┴─────────────────┴────────────┴───┴────────┴──────────┴─────┴─────────┘

In [21]:
movies_and_ratings = movies_new.join(ratings, on='movieId')
movies_and_ratings.head()

shape: (5, 26)
┌─────────┬──────────────┬─────────────┬─────────────┬───┬─────────┬────────┬────────┬─────────────┐
│ movieId ┆ title        ┆ genres      ┆ (no genres  ┆ … ┆ Western ┆ userId ┆ rating ┆ timestamp   │
│ ---     ┆ ---          ┆ ---         ┆ listed)     ┆   ┆ ---     ┆ ---    ┆ ---    ┆ ---         │
│ i64     ┆ str          ┆ list[str]   ┆ ---         ┆   ┆ i64     ┆ i64    ┆ f64    ┆ str         │
│         ┆              ┆             ┆ i64         ┆   ┆         ┆        ┆        ┆             │
╞═════════╪══════════════╪═════════════╪═════════════╪═══╪═════════╪════════╪════════╪═════════════╡
│ 2       ┆ Jumanji      ┆ ["Adventure ┆ 0           ┆ … ┆ 0       ┆ 1      ┆ 3.5    ┆ 2005-04-02  │
│         ┆ (1995)       ┆ ",          ┆             ┆   ┆         ┆        ┆        ┆ 23:53:47    │
│         ┆              ┆ "Children", ┆             ┆   ┆         ┆        ┆        ┆             │
│         ┆              ┆ "Fan…       ┆             ┆   ┆         ┆        ┆        ┆             │
│ 29      ┆ City of Lost ┆ ["Adventure ┆ 0           ┆ … ┆ 0       ┆ 1      ┆ 3.5    ┆ 2005-04-02  │
│         ┆ Children,    ┆ ", "Drama", ┆             ┆   ┆         ┆        ┆        ┆ 23:31:16    │
│         ┆ The (Ci…     ┆ … "Sci-…    ┆             ┆   ┆         ┆        ┆        ┆             │
│ 32      ┆ Twelve       ┆ ["Mystery", ┆ 0           ┆ … ┆ 0       ┆ 1      ┆ 3.5    ┆ 2005-04-02  │
│         ┆ Monkeys      ┆ "Sci-Fi",   ┆             ┆   ┆         ┆        ┆        ┆ 23:33:39    │
│         ┆ (a.k.a. 12   ┆ "Thrille…   ┆             ┆   ┆         ┆        ┆        ┆             │
│         ┆ Monk…        ┆             ┆             ┆   ┆         ┆        ┆        ┆             │
│ 47      ┆ Seven        ┆ ["Mystery", ┆ 0           ┆ … ┆ 0       ┆ 1      ┆ 3.5    ┆ 2005-04-02  │
│         ┆ (a.k.a.      ┆ "Thriller"] ┆             ┆   ┆         ┆        ┆        ┆ 23:32:07    │
│         ┆ Se7en)       ┆             ┆             ┆   ┆         ┆        ┆        ┆             │
│         ┆ (1995)       ┆             ┆             ┆   ┆         ┆        ┆        ┆             │
│ 50      ┆ Usual        ┆ ["Crime",   ┆ 0           ┆ … ┆ 0       ┆ 1      ┆ 3.5    ┆ 2005-04-02  │
│         ┆ Suspects,    ┆ "Mystery",  ┆             ┆   ┆         ┆        ┆        ┆ 23:29:40    │
│         ┆ The (1995)   ┆ "Thriller…  ┆             ┆   ┆         ┆        ┆        ┆             │
└─────────┴──────────────┴─────────────┴─────────────┴───┴─────────┴────────┴────────┴─────────────┘

In [22]:
movies_and_ratings = movies_and_ratings.drop(['genres','userId', 'timestamp'])

In [23]:
print(movies_and_ratings)

shape: (20_000_263, 23)
┌─────────┬──────────────────────────┬────────────┬────────┬───┬──────────┬─────┬─────────┬────────┐
│ movieId ┆ title                    ┆ (no genres ┆ Action ┆ … ┆ Thriller ┆ War ┆ Western ┆ rating │
│ ---     ┆ ---                      ┆ listed)    ┆ ---    ┆   ┆ ---      ┆ --- ┆ ---     ┆ ---    │
│ i64     ┆ str                      ┆ ---        ┆ i64    ┆   ┆ i64      ┆ i64 ┆ i64     ┆ f64    │
│         ┆                          ┆ i64        ┆        ┆   ┆          ┆     ┆         ┆        │
╞═════════╪══════════════════════════╪════════════╪════════╪═══╪══════════╪═════╪═════════╪════════╡
│ 2       ┆ Jumanji (1995)           ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.5    │
│ 29      ┆ City of Lost Children,   ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ The (Ci…                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 32      ┆ Twelve Monkeys (a.k.a.   ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ 12 Monk…                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 47      ┆ Seven (a.k.a. Se7en)     ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ (1995)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 50      ┆ Usual Suspects, The      ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ (1995)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ …       ┆ …                        ┆ …          ┆ …      ┆ … ┆ …        ┆ …   ┆ …       ┆ …      │
│ 68954   ┆ Up (2009)                ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.5    │
│ 69526   ┆ Transformers: Revenge of ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.5    │
│         ┆ the F…                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 69644   ┆ Ice Age: Dawn of the     ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.0    │
│         ┆ Dinosaurs…               ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 70286   ┆ District 9 (2009)        ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 5.0    │
│ 71619   ┆ Coco Before Chanel (Coco ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 2.5    │
│         ┆ avant…                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
└─────────┴──────────────────────────┴────────────┴────────┴───┴──────────┴─────┴─────────┴────────┘

In [24]:
new_df = movies_and_ratings.with_columns(
    pl.col(mlb.classes_).cast(pl.Int64)
)

In [25]:
print(new_df)

shape: (20_000_263, 23)
┌─────────┬──────────────────────────┬────────────┬────────┬───┬──────────┬─────┬─────────┬────────┐
│ movieId ┆ title                    ┆ (no genres ┆ Action ┆ … ┆ Thriller ┆ War ┆ Western ┆ rating │
│ ---     ┆ ---                      ┆ listed)    ┆ ---    ┆   ┆ ---      ┆ --- ┆ ---     ┆ ---    │
│ i64     ┆ str                      ┆ ---        ┆ i64    ┆   ┆ i64      ┆ i64 ┆ i64     ┆ f64    │
│         ┆                          ┆ i64        ┆        ┆   ┆          ┆     ┆         ┆        │
╞═════════╪══════════════════════════╪════════════╪════════╪═══╪══════════╪═════╪═════════╪════════╡
│ 2       ┆ Jumanji (1995)           ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.5    │
│ 29      ┆ City of Lost Children,   ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ The (Ci…                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 32      ┆ Twelve Monkeys (a.k.a.   ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ 12 Monk…                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 47      ┆ Seven (a.k.a. Se7en)     ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ (1995)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 50      ┆ Usual Suspects, The      ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ (1995)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ …       ┆ …                        ┆ …          ┆ …      ┆ … ┆ …        ┆ …   ┆ …       ┆ …      │
│ 68954   ┆ Up (2009)                ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.5    │
│ 69526   ┆ Transformers: Revenge of ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.5    │
│         ┆ the F…                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 69644   ┆ Ice Age: Dawn of the     ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.0    │
│         ┆ Dinosaurs…               ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 70286   ┆ District 9 (2009)        ┆ 0          ┆ 0      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 5.0    │
│ 71619   ┆ Coco Before Chanel (Coco ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 2.5    │
│         ┆ avant…                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
└─────────┴──────────────────────────┴────────────┴────────┴───┴──────────┴─────┴─────────┴────────┘

In [26]:
movies_and_ratings.write_csv('Data/final_movie_dataset.csv')

In [27]:
selected_df = movies_and_ratings.filter(
    pl.any_horizontal(
        (pl.col(['Action', 'Comedy']) == 1)
    )
)

In [28]:
selected_df.head()

shape: (5, 23)
┌─────────┬──────────────────────────┬────────────┬────────┬───┬──────────┬─────┬─────────┬────────┐
│ movieId ┆ title                    ┆ (no genres ┆ Action ┆ … ┆ Thriller ┆ War ┆ Western ┆ rating │
│ ---     ┆ ---                      ┆ listed)    ┆ ---    ┆   ┆ ---      ┆ --- ┆ ---     ┆ ---    │
│ i64     ┆ str                      ┆ ---        ┆ i64    ┆   ┆ i64      ┆ i64 ┆ i64     ┆ f64    │
│         ┆                          ┆ i64        ┆        ┆   ┆          ┆     ┆         ┆        │
╞═════════╪══════════════════════════╪════════════╪════════╪═══╪══════════╪═════╪═════════╪════════╡
│ 112     ┆ Rumble in the Bronx      ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 3.5    │
│         ┆ (Hont faan…              ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 151     ┆ Rob Roy (1995)           ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 1   ┆ 0       ┆ 4.0    │
│ 223     ┆ Clerks (1994)            ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.0    │
│ 260     ┆ Star Wars: Episode IV -  ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 4.0    │
│         ┆ A New …                  ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 293     ┆ Léon: The Professional   ┆ 0          ┆ 1      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 4.0    │
│         ┆ (a.k.a.…                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
└─────────┴──────────────────────────┴────────────┴────────┴───┴──────────┴─────┴─────────┴────────┘

In [29]:
selected_df.filter(
    pl.any_horizontal(
        (pl.col('rating') == 5)
    )
)

shape: (1_562_595, 23)
┌─────────┬──────────────────────────┬────────────┬────────┬───┬──────────┬─────┬─────────┬────────┐
│ movieId ┆ title                    ┆ (no genres ┆ Action ┆ … ┆ Thriller ┆ War ┆ Western ┆ rating │
│ ---     ┆ ---                      ┆ listed)    ┆ ---    ┆   ┆ ---      ┆ --- ┆ ---     ┆ ---    │
│ i64     ┆ str                      ┆ ---        ┆ i64    ┆   ┆ i64      ┆ i64 ┆ i64     ┆ f64    │
│         ┆                          ┆ i64        ┆        ┆   ┆          ┆     ┆         ┆        │
╞═════════╪══════════════════════════╪════════════╪════════╪═══╪══════════╪═════╪═════════╪════════╡
│ 7153    ┆ Lord of the Rings: The   ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ Return …                 ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 70      ┆ From Dusk Till Dawn      ┆ 0          ┆ 1      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ (1996)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 260     ┆ Star Wars: Episode IV -  ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ A New …                  ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 480     ┆ Jurassic Park (1993)     ┆ 0          ┆ 1      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 5.0    │
│ 541     ┆ Blade Runner (1982)      ┆ 0          ┆ 1      ┆ … ┆ 1        ┆ 0   ┆ 0       ┆ 5.0    │
│ …       ┆ …                        ┆ …          ┆ …      ┆ … ┆ …        ┆ …   ┆ …       ┆ …      │
│ 33903   ┆ Edukators, The (Die      ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ Fetten Jah…              ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 48082   ┆ Science of Sleep, The    ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ (La scie…                ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 48385   ┆ Borat: Cultural          ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ Learnings of A…          ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 55269   ┆ Darjeeling Limited, The  ┆ 0          ┆ 0      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
│         ┆ (2007)                   ┆            ┆        ┆   ┆          ┆     ┆         ┆        │
│ 59784   ┆ Kung Fu Panda (2008)     ┆ 0          ┆ 1      ┆ … ┆ 0        ┆ 0   ┆ 0       ┆ 5.0    │
└─────────┴──────────────────────────┴────────────┴────────┴───┴──────────┴─────┴─────────┴────────┘

In [30]:
selected_df.count()

shape: (1, 23)
┌──────────┬──────────┬────────────┬──────────┬───┬──────────┬──────────┬──────────┬──────────┐
│ movieId  ┆ title    ┆ (no genres ┆ Action   ┆ … ┆ Thriller ┆ War      ┆ Western  ┆ rating   │
│ ---      ┆ ---      ┆ listed)    ┆ ---      ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ u32      ┆ u32      ┆ ---        ┆ u32      ┆   ┆ u32      ┆ u32      ┆ u32      ┆ u32      │
│          ┆          ┆ u32        ┆          ┆   ┆          ┆          ┆          ┆          │
╞══════════╪══════════╪════════════╪══════════╪═══╪══════════╪══════════╪══════════╪══════════╡
│ 12020418 ┆ 12020418 ┆ 12020418   ┆ 12020418 ┆ … ┆ 12020418 ┆ 12020418 ┆ 12020418 ┆ 12020418 │
└──────────┴──────────┴────────────┴──────────┴───┴──────────┴──────────┴──────────┴──────────┘